[Desktop Entry]
Categories=Application;System
Exec=install-multilib
Icon=install-multilib
Name=install multilib
Name[el]=Εγκατάσταση της multilib
Terminal=true
Type=Application
Version=1.0.0

